<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Evision Banking App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="stylesheet" href="main.css">
    <link rel="icon" type="image/png" href="favicon.png" /> 


    <!-- Include the AngularJS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>   

  </head>
  <body>
    <div class="container-fluid content">
      <div ng-app="myApp" ng-controller="HttpPutController" class="container">
          
          <div class="row">
            <h2>Evision Transaccion Logs</h2>
          </div>
          <div class="row mb-1">
            <div>{{account.name}}</div>
            <div>{{account.iban}}</div>
            <div>{{account.balance}}</div>
          </div>
          <div class="row form-container">
            <form ng-submit="UpdateData()" class="search-form">
                <div class="col-xs-4 col-md-2 mt-1 mb-1">
                  <input type="number" name="amount" placeholder="Amount" ng-model="amount" class="form-control mr-1 col-xs-12 col-md">
                </div>
                <div class="col-xs-4 col-md-2 mt-1 mb-1">
                  <input type="text" name="from" placeholder="From" ng-model="from" class="form-control mr-1">
                </div>
                <div class="col-xs-4 col-md-2 mt-1 mb-1">
                  <input type="text" name="to" placeholder="To" ng-model="to" class="form-control mr-1">
                </div>
                <div class="col-xs-4 col-md-2 mt-1 mb-1">
                  <input type="text" name="description" placeholder="Description" ng-model="description" class="form-control mr-1">
                </div>
                <div class="col-xs-4 col-md-2 mt-1 mb-1">
                  <input type="date" name="date" placeholder="Date" ng-model="date" class="form-control mr-1">
                </div>
                <div class="col-xs-4 col-md-2 mt-1 mb-1">
                  <input type="submit" value="Submit" class="btn btn-sub" />
                </div>
            </form>
          </div>
          <div class="row margin-auto">
            <table class="mt-1 transact-style">
              <tbody>
                <tr ng-repeat="item in transactions" class="ng-binding ng-scope">
                  <td>{{item.amount}}</td>
                  <td>{{item.from}}</td>
                  <td>{{item.to}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.date}}</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </body>

  <script>
    var myApp = angular.module("myApp", []);
    myApp.controller("HttpPutController", function ($scope, $http) {

        $scope.items = [];
        $scope.transactions=[];

          $scope.getData = function(){
            $http({
            method : "GET",
            url : "http://localhost:8080/api/balance"
            }).then(function mySuccess(response) {
              $scope.transactions = response.data.debitsAndCredits;
              $scope.account = response.data.account;
              $scope.currency = response.data.currency;

            }, function myError(response) {
            $scope.info = response.statusText;
            });
          };

        $scope.UpdateData = function () {
            var data = {
                amount: parseInt($scope.amount),
                to: $scope.to,
                from: $scope.from,
                description: $scope.description,
                date: new Date($scope.date)
            };


        $http.put('http://localhost:8080/api/balance/add', (data)).then(function (response) {
          if (response.data) {$scope.msg = "Put Data Method Executed Successfully!";}
          $scope.transactions.push(data);

        }, function (response) {
          $scope.msg = "Service not Exists";
          $scope.statusval = response.status;
          $scope.statustext = response.statusText;
          $scope.headers = response.headers();
        });
        };
        $scope.getData();
    });
  </script>
</html>
   